[defaults]

inventory = inventory.ini
log_path =  ./ansible.log
#ask_vault_pass = true  
#  If this ask_vault_pass = true  configuration is added to the ansible.cfg file, there’s no need to pass the --ask-vault-pass argument while running the playbook
#Every time I run the playbook, it asks for the vault password. This slows down automation so im storing in server we dont need to enter the pswd again and agaon
VAULT_PASSWORD_FILE = /home/ec2-user/.ansible/.mysql_vault_pswd
