- name: Install Maven
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - maven
    - mysql
- name: Install the dependencies
  ansible.builtin.command: mvn clean package
  args:
    chdir: /app
