- name: "Reload systemd and restart catalogue"
  ansible.builtin.systemd:
    name: catalogue
    daemon_reload: yes
    state: restarted #why we are restaring if its running it will restart.
    enabled: yes
